@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Категории";
}

<h2>Категории</h2>
<table>
    <tr>
        <td>Категории</td>
        <td>Удалить</td>
    </tr>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>
                @Html.ActionLink(category.CategoryName, "CategoryEdit",  new { categoryId = category.Id },FormMethod.Get)
            </td>
            <td>
                @using (Html.BeginForm("CategoryDelete", "Admin", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    @Html.Hidden("categoryId", category.Id)
                    <input type="submit" onclick = "return confirm('Вы действительно хотите удалить категорию?');" value="Удалить" class="button blue"/>
                }
            </td>
        </tr>
    }
</table>
<br />
@Html.ActionLink("Добавить", "CategoryAdd", "Admin")
