@model Store.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Скидки";
}

<h2>Скидки</h2>


@using (Html.BeginForm("DiscountList", "Admin", FormMethod.Post))
{
    @Html.DropDownList("discounts", Model.DiscountList)
    <input type="submit" value="Перейти" class="button blue"/>
}

