@{
    ViewBag.Title = "Добавление скидки";
}
@model Store.Model.ViewModels.MasterPageModel
<h2>Добавление скидки</h2>

<table>
    @using (Html.BeginForm("DiscountAdd", "Admin", FormMethod.Post))
    {
    <tr>
        <td>Категория</td>
        <td>@Html.DropDownList("discounts", Model.CategoriesForDropDown)</td>
        
    </tr>
    <tr>
        <td>Скидка</td>
        <td>@Html.TextBox("ammount")</td>
    </tr>
    <tr>
        <td><input type="submit" value="Добавить" class="button blue"/></td>
        <td></td>
    </tr>
    }
</table>
