<div class="well">
    <thead>
        <tr>
            <th class="text-center">Товар</th>
            <th class="text-center">Кол-во</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.CartView.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Product.Name</td>
                <td class="text-center">@line.Quantity</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
            </tr>
        }
    </tbody>

</div>