@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    ViewBag.Title = "Типы оплаты";
}

<h2>Оплаты</h2>
<table>
    <tr>
        <td>Тип оплаты</td>
        <td>Удалить</td>
    </tr>
    @foreach (var payment in Model.Payments)
    {
        <tr>
            <td title="Для редактирования нажмите на тип оплаты">@Html.ActionLink(payment.PaymentMethod, "PaymentEdit", new { paymentId = payment.Id }, FormMethod.Get)</td>
            <td>
                @using (Html.BeginForm("PaymentDelete", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.Hidden("paymentId", payment.Id)
                    <input type="submit" onclick = "return confirm('Вы действительно хотите удалить категорию?');" value="Удалить" class="button blue"/>
                }
            </td>
        </tr>
    }
</table>
<br />
@Html.ActionLink("Добавить", "PaymentAdd", "Admin")
