@model TAiMStore.Model.ViewModels.MasterPageModel
@{
    ViewBag.Title = "Редактирование";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Редактирование @Model.Payment.PaymentMethod</h3>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("PaymentEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table>
                <tr>
                    <td>Тип оплаты</td>
                </tr>
                <tr>
                    <td class="padded">
                        @Html.Hidden("paymentId", Model.Payment.Id)
                        @Html.TextBox("paymentName", Model.Payment.PaymentMethod, new { @class = "form-control" })
                    </td>
                </tr>
            </table>
            <input type="submit" value="Сохранить" class="btn  btn-success btn-lg" />
        }
    </div>
</div>