@model TAiMStore.Model.ViewModels.MasterPageModel

@{
    Layout = "~/Views/Shared/_LayoutForMessage.cshtml";
    ViewBag.Title = "Заказ обработан";
}
<h2>Спасибо!</h2>
<p>Заказ в кротчайшие сроки будет отправлен в службу доставки. Наш менеджер свяжятеся с Вами</p>
<p>Номер вашего заказа @Model.OrderViewModel.Id <p>