@model TAiMStore.Model.ViewModels.Cart

<div class="navbar-right">
    @Html.ActionLink("Корзина", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>

<div class="navbar-text navbar-right">
    <b>Выбрано:</b>
    @Model.Lines.Sum(x => x.Quantity) товаров, на
    @Model.ComputeTotalValue().ToString("# руб")
</div>
