@{
    ViewBag.Title = "Пароль успешно изменён.";
}

<h2 class="red">Пароль успешно изменён.</h2>

@section UserMenu
{
    <br /> <h4>Меню Пользователя</h4>
    <nav role="menu" class="small-tablet nav vertical menu charcoal">
        @Html.ActionLink("Профиль", "Profile", "Account")
        @Html.ActionLink("Смена Пароля", "ChangePassword", "Account")
    </nav>
}