@model Dictionary<TAiMStore.Model.ViewModels.CategoryViewModel, double>

@Html.Label("Меню категорий", new  {@class = "btn-block btn-default" })

@foreach (var link in Model)
{
    <li>
    @Html.RouteLink(link.Key.CategoryName, new
    {
        controller = "Product",
        action = "List",
        category = link.Key.CategoryName,
        page = 1
    }, new
    {
        @class ="btn btn-block btn-default btn"
        + (link.Key.CategoryName == ViewBag.SelectedCategory ? " btn-primary" : "")
     })
     </li>
}
@using (Html.BeginForm("Product", "Find", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    <input type="text" id="name" name="searchResult" placeholder="Conference" required="" />
    <input type="submit" value="Go!" />
}
<form asp-controller="Product" asp-action="List" method="get">
    <p>
        Title: <input type="text" name="searchResult">
        <input type="submit" value="Поиск" />
    </p>
</form>